body{
	margin:10px;
}

h4, h2, h5, h1 {
	font-weight: 600 !important;
}

.navbar-custom .nav li a {
	font-weight: 600 !important;
}

.navbar-about-me li a{
	color: black !important;
}
#index-brand {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
}

.jumbotron img{
	opacity: .4;
}

#about-subheading{
	color: black;
}
.lang-header {
	text-align: center;
}

.tools-header{
	text-align: center;
}

.operating-systems {
	text-align: center;
}

h4 {
	text-align: center;
}

.contact-email{
	top:27px;
}